@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-2 md:px-6;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

.accordion__button:before {
  content: "+";
  float: right;
  margin-right: 1em;
  font-size: 2em;
  line-height: 0.5em;
  color: orange;
}
.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  content: "\2014";
}

.accordion__button,
.accordion__panel {
  color: black !important;
}

.accordion-content {
  transition: 0.2s ease-out;
}

.accordion__panel {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2;
}

.slick-prev::before,
.slick-next::before {
  color: orange !important;
  font-size: 2rem !important;
}

.slick-prev,
.slick-next {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  top: 40% !important;
}

.slick-list {
  width: 80%;
  margin: 0 auto !important;
}

.slick-prev {
  left: 2em;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 7% !important;
  z-index: 1;
}
.slick-next {
  right: 7% !important;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 0% !important;
    z-index: 1;
  }
  .slick-next {
    right: 2% !important;
    z-index: 1;
  }
}
.slick-slider .slick-slide {
  padding: 0 15px;
}

.custSearch > div {
  @apply border-0 border-b rounded-none;
}

/** Customisations */

/**CTA1*/
.cta1 {
  border: 1px solid;
  width: max-content;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cta1:hover {
  cursor: pointer;
}

/**CTA2*/
.cta2 {
  border: 1px solid;
  flex: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cta12:hover {
  cursor: pointer;
}

/**CTA3*/
.cta3 {
  border: 1px solid;
  width: max-content;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cta3:hover {
  cursor: pointer;
}

/**Facets Button*/
.facetsButton {
  border: 1px solid;
  width: max-content;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.facetsButton:hover {
  cursor: pointer;
}

/**Apply FAcets Button*/
.applyButton {
  border: 1px solid;
  width: fit-content;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1rem;
}
.applyButton:hover {
  cursor: pointer;
}

/**Apply Facets Button*/
.mapPin {
  color: red;
  height: 1rem;
  width: 1rem;
}

.mapPin:hover {
  color: green; /** Change this for hove color change */
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
